body{
	background-color: black;
}

.index{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100vh;
}

.index > div{
	max-width: 500px;
}
.index h2{
	font-weight: bold;
	font-size: 20px;
}
.index h2, .index p{
	text-align: center;
}